---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
import '../styles/global.css';

const {
  title,
  description,
  ogTitle,
  ogDescription,
  ogImage,
  canonical,
  schema
} = Astro.props;---

<html lang="fr">
	<head>
		<Head
	  title={title}
    description={description}
    ogTitle={ogTitle}
    ogDescription={ogDescription}
    ogImage={ogImage}
    canonical={canonical}
    schema={schema}
    />
	  </head>

	<body>
		<Header />
        <main>
            <slot />
        </main>
        <Footer />
        <BackToTop />
	
<script>
  import "../scripts/menu.js";
</script>

<script>
  import AOS from 'aos';
  import 'aos/dist/aos.css';
  
  AOS.init({
    duration: 800,
    once: true,
    offset: 0,
  });

  setTimeout(() => {
    AOS.refresh();
  }, 100);
</script>

	</body>
</html>